 /*font imported */

@font-face {
    font-family: "Arcade";
    src: url(../fonts/arcade/ARCADE.TTF);
}

:root{
    font-size: 16px;
}

body{
    margin:0;
}

/* Game intro screen styles*/

section#game-intro-screen{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../images/shutterstock_394200550-825x465-fotor-20240615121117.png);
    background-size: auto;
    background-repeat:no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    justify-content: center;
}

#starting-point{
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 200px 100px 200px;
    font-family: "arcade";
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 70%);
}

button{
    font-family: "arcade";
    display: flex;
    font-size: 1.5em;
    color: black;
    background-color:transparent;
    appearance: none;
    cursor: pointer;
    border-style: none;
    margin: 1%;
}

button:hover{
    color: antiquewhite;
    background-color: black;
}

h1{
    font-family: "arcade";
    font-size: 2.5em;
    display: flex;
    color: black;
}

/*    Until here all about the intro screen*/

/* From here the game screen*/

#game-screen{
    display: none;
}

section#game-end-screen{
    display: none;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../images/shutterstock_394200550-825x465-fotor-20240615121117.png);
    background-size: auto;
    background-repeat:no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    justify-content: center;
}

section#game-end-screen-text{
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 100px 200px;
    font-family: "arcade";
    font-size: 1em;
    background-color: rgba(255, 255, 255, 70%);
}

#stats{
    display: none;
    background-color: black;
    font-family: "arcade";
    color: antiquewhite;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    font-size: 0.8em;
    width: 10%;
    position: relative;
    flex-direction: column;
    align-items: center;
}

#restartbutton{
    font-family: "arcade";
    display: flex;
    font-size: 1.5em;
    color: black;
    background-color:transparent;
    appearance: none;
    cursor: pointer;
    border-style: none;
}

#restartbutton:hover{
    color: antiquewhite;
    background-color: black;
}


#infoFish {
    display: none;
}